<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.daniiltropolsapplication.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.daniiltropolsapplication.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
            android:name="com.daniiltropolsapplication.app.modules.finaltalknegative.ui.FinalTalkNegativeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.map.ui.MapActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.passwordrecovery.ui.PasswordRecoveryActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.feedback.ui.FeedbackActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.passwordrecoverybadinput.ui.PasswordRecoveryBadInputActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.authorization.ui.AuthorizationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.rulesdialog.ui.RulesDialogActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.timeout.ui.TimeoutActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.rating.ui.RatingActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.mapfinishedeventsfull.ui.MapFinishedEventsFullActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.rightanswer.ui.RightAnswerActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.daniiltropolsapplication.app.modules.start.ui.StartActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.mapfinishedevents.ui.MapFinishedEventsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.code.ui.CodeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.finaltalkpositive.ui.FinalTalkPositiveActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.rulesfulldialog.ui.RulesFullDialogActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.startfocusonicons.ui.StartFocusOnIconsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.registration.ui.RegistrationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.loading.ui.LoadingActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.task.ui.TaskActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.rulestab.ui.RulesTabActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.taskchoosing.ui.TaskChoosingActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.daniiltropolsapplication.app.modules.finish.ui.FinishActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
